<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rtmillerprojects.sangitlive">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="@string/app_name"
        android:name="com.rtmillerprojects.sangitlive.ConcertCompanionApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Green">

        <activity android:name=".ui.MainActivity"
            android:permission="android.permission.INTERNET">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.ActivityArtistSearch"/>

        <activity android:name=".ui.ActivitySetlistDetail"/>

        <activity android:name=".ui.ActivityEventDetails"/>

        <activity android:name=".ui.ActivityArtistDetail"/>

        <activity android:name=".ui.ActivitySettings"/>

        <activity android:name=".ui.ActivityZipSearch"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="10e35ec98d4348541589c81819834f36b90f5e9d"
            />

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>